@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.none {
    color: hsl(243, 87%, 12%) hsl(238, 22%, 44%), hsl(224, 93%, 58%),hsl(170, 45%, 43%) hsl(240, 75%, 98%), hsl(0, 0%, 75%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}
/*---------------------
Header Section Styling
----------------------*/
header {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding-inline-start: 1.2rem;
    padding-inline-end: 0.2rem;
    margin: 0 auto;
}
.logo {
    width: 25%;
    display: flex;
    align-items: center;
}
.logo-img {
    height: 25px;
}
.top-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: hsl(238, 22%, 44%);
    margin-inline-end: 20px;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    header {
    height: 100px;
    }
    #top-nav {
        padding: 2rem 4rem 0;
    }
    .logo-img {
        height: 3rem;
    }
    .nav-link {
        margin-inline-start: 2rem;
        font-size: 1rem;
    }
    
}
/*---------------------
Welcome Section Styling
----------------------*/
.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    text-align: center;
    width: 100%;
}
.b-img1 {
    width: 100%;
    height: 15rem;
}
.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 0;
}
.intro-text > h1 {
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
    font-size: 25px;
    font-weight: 600;
}
.intro-text > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.87rem;
    padding: 2rem 1rem;
    color: hsl(243, 87%, 12%);
}
form {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.form-1 > input[type=email] {
    margin-block-end: 1rem;
    padding: 0.7rem 1.5rem;
    border: 1px solid hsl(238, 22%, 44%);
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    color: hsl(240, 75%, 98%);
}
form > button {
    height: 2.5rem;
    background: hsl(224, 93%, 58%);
    border: none;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 1px 1px rgba(0,0,0,0.19), 0 3px 5px rgba(0,0,0,0.2);
}
@media only screen and (min-width: 768px) {
    .intro-section {
        flex-direction: row-reverse;
        padding: 0 5rem;
        text-align: start;
        min-height: 70vh;
    }
    .b-img1 {
        width: 45%;
        height: 35rem;
    }
    .intro-text {
        width: 55%;
        margin-block: 0;
        margin-inline: 0;
        padding-inline-end: 3rem;
    }
    .intro-text > h1 {
        font-size: 2.5rem;
        line-height: 1.5;
    }
    .intro-text > p {
        padding-inline: 0;
        padding-block: 1.5rem;
        font-size: 1.25rem;
    }
    .form-1 {
        flex-direction: row;
        width: 100%;
    }
    .form-1 > input[type=email] {
        margin-inline-end: 1rem;
        margin-block-end: 0;
        width: 50%;
    }
    .form-1 > button {
        width: 30%;
    }
}

/*-----------------------------
more-section
------------------------------*/

.more-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: hsl(240deg 75% 98% / 69%);
    padding-block-end: 5rem;
}
.curve-container {
    background-image: url(/images/bg-curve-mobile.svg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    margin-block-start: 2rem;
    height: 40px;
    width: 100%;
    margin-inline: auto;
}
.b-img2 {
    margin-block: 2rem;
    width: 80%;
    height: 15rem;
}
.more-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more-text-container > h2 {
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
    font-size: 1rem;
    text-align: center;
    margin-top: 4rem;
}
.more-text-container > p {
    font-size: 14px;
    padding-block-start: 1.3rem;
    padding-inline: 1.5rem;
    color: hsl(238, 22%, 44%);
}
.more-text-container > a {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    color: hsl(170, 45%, 43%);
    border-bottom: 1px solid hsl(170, 45%, 43%);
    line-height: 2;
    margin: 2rem auto 2.5rem;
}
.more-text-container > a > img {
    margin-inline-start: 0.5rem;
}
.testimonial {
    width: 18rem;
    height: 11rem;
    background: #fff;
    padding: 1.3rem 1.8rem;
    border-radius: 5px;
    box-shadow: 1px 1px 32px -6px hsl(0, 0%, 75%);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
.quote-icon {
    height: 0.6rem;
    margin-block-end: 0.5rem;
}
.testimonial > p {
    font-size: 0.65rem;
    line-height: 1.7;
    color: hsl(243, 87%, 12%);
    margin-block-end: 0.8rem;
}
.testimonial-info {
    display: flex;
    align-items: center;
    height: 1.5rem;
}
.testimonial-info > img {
    width: auto;
    height: 100%;
    border-radius: 50%;
    margin-inline-end: 0.5rem;
}
.name-container > h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
}
.name-container > p {
    font-size: 0.45rem;
    color: hsl(243, 87%, 12%);
}

@media only screen and (min-width: 768px) {
    .curve-container {
        background-image: url(/images/bg-curve-desktop.svg);
        height: 75px;
    }
    .more-section {
        flex-direction: row-reverse;
        padding: 5rem;
    }
    .b-img2 {
        width: 45%;
        height: 25rem;
        margin: 0;
    }
    .more-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin-inline-end: 3rem;
        text-align: start;
    }
    .more-text-container > h2 {
        font-size: 2.5rem;
        line-height: 2;
        margin: 0;
        text-align: start;
        place-self: start;
    }
    .more-text-container > p {
        font-size: 1.25rem;
        padding-inline: 0;
        padding-block-start: 1.25rem;
    }
    .more-text-container > a {
        margin: 1rem 0 3rem;
        font-size: 1.25rem;
        place-self: baseline;
    }
    .testimonial {
        width: 22rem;
        height: 13rem;
        place-self: start;
    }
    .quote-icon {
        height: 0.8rem;
    }
    .testimonial > p {
        font-size: 0.8rem;
    }
    .testimonial-info {
        height: 2rem;
    }
    .name-container > h3 {
        font-size: 1rem;
    }
    .name-container > p {
        font-size: 0.6rem;
    }
}



/*------------------------
action section
------------------------*/
.action-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: hsl(238, 22%, 44%);
    padding-block: 3.2rem 4.5rem;
    padding-inline: 2.5rem;
    color: #fff;
    width: 100%;
}
.action-text-container > h4 {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    margin-block-end: 1rem;
}
.action-text-container > p {
    font-size: 0.9rem;
    margin-block-end: 2rem;
}
.form-2 {
    width: 250px;
}
.form-2 > input[type=email] {
    font-size: 0.8rem;
    border: none;
    margin-block-end: 0.6rem;
    padding: 0.6rem 1.5rem;
    border-radius: 3px;
    box-shadow: 2px 2px rgba(0,0,0,0.1);
}
.form-2 > button {
    width: 250px;
    font-size: 12px;
    height: 30px;
    box-shadow: 2px 2px rgba(0,0,0,0.1);
}
@media only screen and (min-width: 768px) {
    .action-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 6rem;
    }
    .action-text-container {
        height: 100%;
        width: 45%;
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .action-text-container > h4 {
        font-size: 2rem;
        padding-block-end: 2rem;
        margin: 0;
    }
    .action-text-container > p {
        font-size: 1.1rem;
    }
    form.form-2 {
        width: 40%;
    }
    .form-2 > input[type=email] {
        height: 3rem;
        margin-block-end: 1rem;
    }
    .form-2 > button {
        height: 2.5rem;
        width: 15rem;
        font-size: 1rem;
    }
}



footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: hsl(243, 87%, 12%);
    color: #fff;
    padding-block: 2rem;
    padding-inline: 2.5rem;
}
.footer-logo-container > img {
    height: 3.2rem;
    filter: invert(1) brightness(100);
}
footer a {
    text-decoration: none;
    color: #fff;
}
.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block-end: 2rem;
}
.footer-info p {
    padding-block-end: 1.2rem;
}
.footer-info p img {
    margin-inline-end: 1rem;
}
#bottom-nav {
    display: flex;
    flex-direction: column;
}
#bottom-nav > ul {
    padding-block-end: 2rem;
}
#bottom-nav > ul > li {
    padding-block-end: 1rem;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    margin-block-end: 3rem;
}
#fab1 , #fab2, #fab3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    height: 1.8rem;
    width: 1.8rem;
    margin-inline-end: 1rem;
    font-weight: bold;
    line-height: 0;
}
@media only screen and (min-width: 768px) {
    footer {
        padding-inline: 5rem;
    }
    .footer-logo-container {
        padding-block: 3rem 2rem;
    }
    .footer-logo-container > img {
        height: 2.6rem;
    }
    .footer-items-container {
        display: flex;
        width: 100%;
    }
    .footer-info {
        width: 37%;
        justify-content: flex-start;
    }
    #bottom-nav {
        flex-direction: row;
        width: 30%;
        justify-content: space-between;
    }
    .social-icons {
        width: 40%;
    }
    #fab1, #fab2, #fab3 {
    height: 2rem;
    width: 2rem;
    }
}



.attribution { 
    font-size: 16px; 
    text-align: center; 
    color: #fff;
    margin-block-end: 0;
    font-family: 'Poppins', sans-serif;
}
.attribution a { 
    color: hotpink; 
} 